.category__section {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: auto;
    width: 1340px;
}

.category__titleContainer {
   text-align: center;
}

.category__firstTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 100px;
}

.category__secondTitle {
    font: 34px Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.category__container {
    margin: 80px 50px 0;
}

.category__contContainer {
    display: flex;
    flex-direction: column;
}

.category__rectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__rectangle {
    width: 181px;
    height: 90px;
    background-color: #EDE7F0;
    margin-right: 31px;
    position: relative;
}

.category__rectangle:last-child {
    margin-right: 0;
}

.category__rectangle:hover {
    background-color: #DFDED9;
}

.category__image {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.category__text {
    font: 20px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    left: 35%;
    cursor: pointer;
}

/*mobile view*/

@media only screen and (max-width: 576px) {
    .category__section {
        padding-top: 400px;
        padding-bottom: 90px;
        width: 366px;
    }

    .category__firstTitle {
        font: 30px Roboto, sans-serif;
    }

    .category__secondTitle {
        font: 30px Helvetica Neue, sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .category__rectContainer {
        width: 250px;
        flex-wrap: wrap;
        margin-top: -20px;
        margin-left: 10px;
    }

    .category__rectangle {
        width: 120px;
        height: 50px;
        margin-top: 20px;
        margin-right: 0;
    }

    .category__image {
        width: 20px;
        height: 35px;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .category__text {
        font: 16px Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        position: absolute;
        left: 35%;
        cursor: pointer;
    }
}