.filter__section {
    padding-top: 90px;
    margin: auto;
    width: 1260px;
}

.filter__titleContainer {
    margin-right: 20px;
}

.filter__firstTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 100px;
}

.filter__secondTitle {
    font: 34px Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.filter__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
}

.search__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 13px;
    position: relative;
}

.filter__ellipse {
    width: 50px;
    height: 50px;
    top: 33%;
    right: -20px;
    position: absolute;
    z-index: 2;
}

.filter__arrow {
    width: 16px;
    height: 25px;
    top: 35.5%;
    right: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.filter__item {
    height: 500px;
    margin-right: 13px;
    position: relative;
}

.filter__item:nth-child(4n) {
    margin-right: 0;
}

.filter__image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.filter__wishlist {
    top: 12px;
    right: 12px;
    position: absolute;
    cursor: pointer;
}

.filter__title {
    font: 14px Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    display: flex;
    flex-direction: column;
}

.filter__price {
    font: 18px Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    left: 0;
    bottom: 20px;
    position: absolute;
}

.search__notFound {
    font: 34px Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 300px;
    margin-top: 0;
}

.FetchMoreButton {
    font: 20px Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 50px;
    border: 2px solid #000F08;
    background-color: transparent;
    cursor: pointer;
}

/*mobile view*/

@media only screen and (max-width: 576px) {
    .filter__section {
        padding-top: 30px;
        padding-bottom: 0;
        margin: auto;
        width: 316px;
    }

    .filter__secondTitle {
        font: 24px Helvetica Neue, sans-serif;
        margin-left: -50px;
    }

    .filter__gallery {
        flex-wrap: wrap;
        height: 400px;
        margin-top: 20px;
        margin-left: -30px;
    }

    .filter__item {
        width: 170px;
        height: 300px;
        margin-right: 3px;
        margin-top: 50px;
    }

    .filter__image {
        width: 150px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

    .filter__wishlist {
        top: 8px;
        right: 35px;
    }

    .filter__title {
        font: 11px Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 40px;
        text-decoration: none;
    }

    .filter__price {
        font: 14px Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 40px;
        left: 0;
        bottom: -25px;
        position: absolute;
    }
}