.footer__upper {
    text-align: center;
    position: relative;
}

.footer__title {
    font: 16px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer__text {
    font: 12px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    cursor: pointer;
}

.footer__contact {
    cursor: unset;
}

.footer__error {
    color: red;
    font: 14px Roboto, sans-serif;
    margin-left: 600px;
    margin-top: 20px;
    position: absolute;
}

.footer__input {
    border: none;
    outline: none;
    width: 350px;
    margin-top: 40px;
}

.footer__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer__image {
    width: 12px;
    height: 12px;
    padding-right: 10px;
    cursor: pointer;
}

.footer__hr {
    width: 390px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 100px 90px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__boxContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__company {
    display: none;
}

.footer__box-hr {
    border: 1px dashed #D8D8D8;
    width: 300px;
    display: none;
}

.footer__titleMobile {
    display: none;
}

.footer__plus {
    display: none;
}

.footer__minus {
    display: none;
}

/*mobile view*/

@media only screen and (max-width: 576px) {
    .footer__input {
        border: none;
        width: 250px;
    }

    .footer__hr {
        width: 290px;
    }

    .footer__container {
        flex-direction: column;
        padding: 60px 20px 90px;
    }

    .footer__title {
       display: none;
    }

    .footer__titleMobile {
        display: block;
        font: 12px Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .footer__follow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__text {
        display: none;
    }

    .footer__image {
        display: none;
    }

    .footer__info {
        display: none;
    }

    .footer__company {
        display: block;
    }

    .footer__box-hr {
        display: block;
    }

    .footer__drop {
        display: flex;
        align-items: flex-start;
        user-select: none;
        cursor: pointer;
    }

    .footer__plus {
        display: block;
        margin-top: 12px;
        margin-right: 10px;
        padding: 2px;
        cursor: pointer;
    }

    .footer__minus {
        display: block;
        margin-top: 18px;
        margin-right: 10px;
        padding: 2px;
        cursor: pointer;
    }

    .footer__textMobile {
        font: 12px Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        cursor: pointer;
    }

    .footer__contact {
        cursor: unset;
    }
}

