.sale__section {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: auto;
    width: 1240px;
}

.sale__titleContainer {
    text-align: center;
}

.sale__firstTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 100px;
}

.sale__secondTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.sale__gallery {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
}

.sale__switcher {
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
}

.sale__switcher-left {
    width: 40px;
    left: -5px;
    top: 35%;
    transform: rotate(
            180deg
    );
}

.sale__switcher-right {
    width: 2400px;
    left: 25px;
    top: 36%;
}

.sale__switcher-arrow {
    right: 0;
    top: 36%;
    opacity: 0;
}

/*mobile view*/

@media only screen and (max-width: 576px) {
    .sale__section {
        padding-top: 0;
        padding-bottom: 90px;
        margin: auto;
        width: 366px;
    }

    .sale__firstTitle {
        font: 30px Roboto, sans-serif;
        margin-top: 20px;
    }

    .sale__secondTitle {
        font: 30px Roboto, sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    .sale__gallery {
        flex-wrap: wrap;
        height: 400px;
        margin-top: 20px;
        margin-left: 20px;
    }
}
